label{
    color: #ff5286;
}
nav{
    padding:8px;
    background-color:#f3eee8;
   }
a{
    margin: 0px 10px 0px 10px;
    padding: 8px;
}
a:link{
     color: #ff5286;
     text-decoration: none;
}
a:visited{
    color : #ff5286; 
   
    text-decoration: none;
}
a:hover{
    color : #f3eee8; 
    background-color: #ff5286 ;
    text-decoration: none;
}