* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.col-1 {
  float: left;
  width: 30%;
}
.col-2 {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.label-text {
  padding: 3px;
}
.container {
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  width: 20%;
  background: rgb(230, 225, 225);
  align-items: center;
}
.form-control {
  border-radius: 9px;
  border: none;
  height: 30px;
  width: 200px;
  padding-left: 20px;
}
.submitBtn {
  text-align: center;
}
button {
  border-radius: 10px;
  width: 50%;
}
.form-control:focus {
  outline-color: rgb(188, 221, 242);
  border-width: 0.5px;
}
