* {
  box-sizing: border-box;
}
.container {
  font-family: "Trebuchet MS", sans-serif;
  margin: auto;
  text-align: center;
  width: 50%;
}
.news,
.content,
.main,
.news-section,
.article-section,
.news,
.ad-section {
  float: left;
}
.content {
  padding: 10px;
  background-color: rgb(230, 235, 235);
}
.main {
  width: 100%;
  padding: 10px;
  position: relative;
}
.news-section {
  width: 50%;
  margin-right: 10px;
}
.article-section {
  width: 25%;
  text-align: left;
  margin-right: 10px;
}
.ad-section {
  width: 23%;
}
.ad {
  margin-bottom: 10px;
}
.news {
  width: 50%;
  text-align: left;
  padding: 10px;
}
.text-block {
  position: absolute;
  width: 96%;
  bottom: 10%;
  background-color: rgba(0, 0, 0, 0.425);
  color: white;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
label {
  color: #000000;
}
nav {
  padding: 10px;
  background-color: #cdcdcf;
}
.menu a {
  margin: 0px 10px 0px 10px;
  padding: 7px;
  font-weight: bolds;
}
.menu a:link {
  color: #000000;
  text-decoration: none;
}
.menu a:visited {
  color: #000000;
  text-decoration: none;
}
.menu a:hover {
  color: #fdfdfd;
  background-color: #fa2222;
  text-decoration: none;
  border-radius: 10px;
}
.article-section a {
  margin: 0px 10px 0px 10px;
  padding: 7px;
  font-weight: bolds;
}
.article-section a:link {
  color: #000000;
  text-decoration: none;
}
.article-section a:visited {
  color: #000000;
  text-decoration: none;
}
.article-section a:hover {
  color: #fa2222;
  text-decoration: none;
  border-radius: 10px;
}
